@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&display=swap');

body {
  background-color: #000000;
  border: 2px solid white;
  padding: 20px;
}

h1 {
  font-family: 'Noto Sans Display', sans-serif;
  color:rgb(255, 255, 255);
}

ul {
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-decoration: None;
}

li {
  margin: 20px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  text-decoration: None;
}

li span {
  padding: 8px;
}

a {
  text-decoration: None;
  color:rgb(13, 126, 174);
}

a:hover {
  text-decoration: None;
  color:rgb(255, 255, 255);
  transition: .5s;
}

button, input[type="submit"]{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  background: transparent;
  color: #fff;
  cursor: pointer;
}

button:hover, input[type="submit"]:hover {
  background-color: #ffffff;
  color:rgb(0, 0, 0);
  opacity: 85%;
  transition: .5s;
}
